@font-face {
  font-family: "bpg-arial";
  src: url(../fonts/bpg_arial_2009.ttf);
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.start-questionnary-wrapper {
  margin-top: 150px;
  text-align: center;
  position: fixed;
}
.start-questionnary {
  color: #232323;
  text-decoration: none;
  font-family: "bpg-arial";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.start-questionnary:hover {
  letter-spacing: 0.09em;
  font-weight: 500;
  color: black;
  filter: drop-shadow(0.25rem 0rem 0rem #303030);
  text-shadow: 0px 0px 0.2rem wheat;
}

.opacity-animation {
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.slide-animation {
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin-bottom: 150px;
}

@keyframes slide {
  from {
    height: 300px;
  }
  to {
    height: 100px;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
