@font-face {
  font-family: "bpg-arial";
  src: url(../fonts/bpg_arial_2009.ttf);
}

body {
  margin: 0;
  padding: 97px 100px 100px 97px;
  background-color: #eaeaea;
}

.header-wrapper {
  display: Flex;
  justify-content: space-between;
  align-items: center;
}
.page-num {
  margin: 0;
  font-family: "bpg-arial";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #232323;
}
.page-num p {
  margin: 20px;
}
.line {
  border-bottom: 1.8px solid #232323;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.personal-info-wrapper {
  display: flex;
  flex-direction: column;
}
.picture-wrapper {
  margin-top: 10px;
}
.info p {
  margin: 35px 0 0 36px;
  font-family: "bpg-arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #232323;
}

/* Radio Buttons */
input[name="meeting"],
input[name="workdays"] {
  accent-color: #232323;
}

.meetings,
.workDays {
  margin: 35px 0 0 36px;
  font-family: "bpg-arial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #232323;
}
.meetings label,
.workDays label {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.meetings input,
.workDays input {
  margin: 19px 19px 0px 20px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #eaeaea;
}
.assambly-input-wrapper,
.suggestions-input-wrapper {
  display: flex;
  flex-direction: column;
}
.assambly-input-wrapper input,
.suggestions-input-wrapper input {
  padding: 5px;
  margin: 20px 0 0 36px;
  border: 0.8px solid #232323;
  width: 622px;
  height: 184px;
  background-color: #eaeaea;
}
.assambly-input-wrapper label,
.suggestions-input-wrapper label {
  margin: 35px 0 0 36px;
  padding: 0 0 10px 0;
  font-family: "bpg-arial";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #232323;
}
.submit-button-wrapper {
  margin-top: 54px;
  display: flex;
  justify-content: flex-end;
}
.submit-button-wrapper button {
  width: 180px;
  height: 56px;
  border: 0;
  background: #208298;
  border-radius: 42px;
  font-family: "bpg-arial";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.pagination {
  display: flex;
  margin-top: 91px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* animation */
.pictureAnimation {
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  display: block;
  background-image: url(../images/heart-highlight.png);
  background-position: top 50px left 90px;
  background-size: 210px 210px;
  background-repeat: no-repeat;
}

@keyframes appear {
  from {
    background-position: top -10px left 20px;
    background-size: 50px 50px;
  }
  to {
    background-size: 210px 210px;
    background-position: top 50px left 90px;
  }
}
