@font-face {
  font-family: "bpg-arial";
  src: url(../fonts/bpg_arial_2009.ttf);
}

body {
  margin: 0;
  padding: 97px 100px 100px 97px;
  background-color: #eaeaea;
}

.header-wrapper {
  display: Flex;
  justify-content: space-between;
  align-items: center;
}
.page-num {
  margin: 0;
  font-family: "bpg-arial";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #232323;
}
.line {
  border: 1px solid black;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.personal-info-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.info p {
  margin: 35px 0 0 36px;
  font-family: "bpg-arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #232323;
}

/* Radio Buttons */
input[name="meeting"],
input[name="workdays"] {
  accent-color: #232323;
}

.meetings,
.workDays {
  margin: 35px 0 0 36px;
  font-family: "bpg-arial";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #232323;
}
.meetings label,
.workDays label {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.meetings input,
.workDays input {
  margin: 19px 19px 0px 20px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #eaeaea;
}
